# Byte-compiled / optimized /DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test /coverage
.pytest_cache/
.coverage
htmlcov/

# Local configuration
local_settings.py

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IPyKernel and local runtime artifacts
.ipython/
.jupyter/

# ToC etc
.vscode-jupyter